%div.footer-div.large-12.columns
  %div.row
    %div.large-6.columns
      %p © Copyright no one at all. Go to town.

    %div.large-6.small-12.columns
      %ul.inline-list.right
        %li
          %a{href: "#"} Link 1
        %li
          %a{href: "#"} Link 2
        %li
          %a{href: "#"} Link 3
        %li
          %a{href: "#"} Link 4