.slider {
  width: 100%;
  height: 250px;
  overflow-x: visible;
  overflow-y: hidden;
  margin: 0px;
  padding: 0px;
}

.slider li {
  display: inline-block;
  width: 33.1%;
  vertical-align: top;
}

.slider img {
  height: auto;
  width: 100%;
}

.inactive {
  visibility: hidden;
}

.orbit-container { 
  height: 250px; 
}

.orbit-container img {
  height: 250px;
  width: auto;
}

.orbit-prev, .orbit-next {
  background-color: black;
  opacity: 0.5;
}