html {
  font-family: bevan;
}

#body_content_title {
  position: absolute;
  color: white;
  left: 30px;
}

body {
  margin: 0px;
  padding: 0px;
}

#section-header-main {
  background-color: #455868;
  color: white;
  width: 15%;
  height: 60px;
  line-height: 0px;
  text-align: center;
  padding-top: 10px;
  float: left;
  font-size: 20px;
  .style-divider {
    width: 100%;
    height: 2px;
    background-color: white;
    position: relative;
    top: 0px;
  }
}

#section-header-side {
  background-color: #455868;
  color: white;
  width: 80%;
  height: 60px;
  line-height: 0px;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  .style-divider {
    width: 100%;
    height: 2px;
    background-color: white;
    position: relative;
    top: 0px;
  }
}

header {
  background-color: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#222));
  background: -moz-linear-gradient(top,  #555, #222);
  color: #FFF;
  font-weight: bold;
  position: relative;
  padding: 15px 5px 15px 5px;
  .third {
    display: inline-block;
    width: 33%;
  }
  #logo h1{
    margin: 0;
    font-size: 30px;
  }
  p {
    font-size: 14px;
    margin: 5px;
    min-width: 20px;
  }
  a {
    color: #FFF;
    text-decoration: none;
  }
  #social-media-nav {
    height: 50px;
    margin:0 auto;
    text-align:center;
  }
  #header-links-list {
    padding: 0;
  }
  #header-links-list li {
    display: inline-block;
    border: 3px solid gray;
    border-radius: 10px;
    padding: 2px;
    width: 60px;
    height: 50px;
    overflow:hidden;
    background: white;
    box-shadow: 2px 2px 2px 2px #888888;
    margin-left: 20px;
  }
  #header-nav {
    float:right;
  }
  .menu ul {
    list-style: none;
    margin: 0px 20px 0px 0px;
    float: right;
    & li {
      display: inline-block;
      padding: 2px 10px;
      border-right: solid 3px #6F6F6F;
      line-height: 75px;
      font-size: 25px;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-property: -webkit-transform;
      transition-property: transform;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      &.last {
        border-right: none;
      }
      &:hover {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
      }
    }
  }
}

#banner {
  background-color: #852A2C;
  font-weight: normal;
  font-style: italic;
  color: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#C0C0C0), to(#000000));
  background: -moz-linear-gradient(top,  #C0C0C0, #000000);
  p {
    margin: 0;
  }
  h2 {
  margin: 0;
  }
}

#body-container {
  margin-top: 30px;
  position: relative;
  #main-body-home {
    float:left;
    width: 100%;
  }
  #main-body-blog {
    float:left;
    width: 70%;
  }
  #side-body {
    padding-left: 25px;
    top: 0;
    right: 100px;
    width: 25%;
    height: 1000px;
    border-left: 1.5px solid gray;
    float:right;
    p {
      color: #777;
      font-size: 14px;
    }
  }
}

.section-container {
  margin-left: 18%;
  margin-right: 50px;
  margin-bottom: 100px;
  margin-top: 0px;
  font-size: 20px;
}

.section-container-side {
  margin-left: 18%;
  margin-bottom: 100px;
  margin-top: 0px;
  margin-right: 0px;
  font-size: 20px;
  p{
    width: 100%
  }
}

footer {
  background-color: #DCDCDC;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  color: #999;
  text-align: center;
  clear: both;
}