/*Projects*/

.code-iframe {
  height: 400px;
  width: 100%;
  background-color: white;
}

/*Code Snippets*/
.code-snippet-div {
  float: right;
  border: 1px solid black; 
  overflow: scroll;  
  height:400px; 
  width: 50%;
  background-color: #232323;
  margin: 20px 0px 20px 0px;
}

.hosted-link-div {
  width: 45%;
  height:400px;
  float: left;
  border: 1px solid black;
  margin: 20px 0px 20px 0px;
}

.challenge {
  display: inline-block;
  width: 33%;
  min-height: 100px;
  vertical-align: top;
}